html {
    margin: o;
    padding: 0;
    border: 0;    
}

body {
    background-color: black;
}

header, section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
}

.main-header {
    font-family: 'Creepster', cursive;
    font-size: 80px;
    text-decoration: none;
    background: -webkit-linear-gradient(rgb(255, 255, 0), #e62e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: -5px;
    cursor: url(https://i.imgur.com/3Q4XBWDs.jpg), auto;
    margin-top: 10px;
    margin-bottom: 0;
}


img {
    display: block;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

ul  {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-screen {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-content: center;
}

.walking-frank {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.welcome-message {
    transition: all 300ms ease;
}

.message-text {
    background-image: url(https://i.imgur.com/4h6FJJx.png);
    background-repeat: no-repeat;
    width: 838px;
    height: 482px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    color: white;
    font-size: 20px;
}

.welcome-p {
    text-align: center;
    font-size: 30px;
}



.welcom-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.welcome-li-bullets {
    width: 270px;
    text-align: center;
    margin-right: 25px;
}

.game-options-btn {
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(206, 61, 17), rgb(255, 255, 0), hsl(19, 100%, 50%));
    color: red;
    text-decoration: none;
    align-self: center;
    width: 200px; 
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: solid darkviolet;
    padding: 5px;
    margin: 5px;
    justify-self: center;
    
}

.game-options-btn:hover {
    box-shadow: 5px 5px 5px #c96ab9;
}

footer {
    background-color: black;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-container {
    background-color:black;
    background-image: url(https://i.imgur.com/4h6FJJx.png);
    background-repeat: no-repeat;
    width: 838px;
    height: 482px;
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
    border: 3px solid white;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.ctm-modal-header,
.mtm-modal-header {
    font-family: 'Creepster', cursive;
    font-size: 50px;
    padding-top: 40px;
    text-decoration: none;
    align-self: center;
    justify-self: flex-start;
    background: -webkit-linear-gradient(rgb(255, 255, 0), #e62e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    margin-bottom: 15px;  
}

.ctm-modal-nxt-btn,
.mtm-modal-nxt-btn {
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(206, 61, 17), rgb(255, 255, 0), hsl(19, 100%, 50%));
    color: red;
    text-decoration: none;
    align-self: center;
    justify-self: flex-end;
    width: 200px; 
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: solid darkviolet;
    padding: 5px;
    justify-self: center;
}

.ctm-modal-nxt-btn:hover,
.mtm-modal-nxt-btn:hover {
    box-shadow: 5px 5px 5px #c96ab9;
}

.ctm-return,
.mtm-return {
    color: orange;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    justify-self:flex-end;
}

.ctm-return:hover,
.ctm-return:focus,
.mtm-return:hover,
.mtm-return:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.6);
}

.ctm-modal-question,
.mtm-modal-question {
    color: white;
    padding-left: 50px;
    font-size: 25px;
}

.mtm-modal-answers,
.ctm-modal-answers {
    color: white;
    display: inline;
    padding-left: 70px;
    font-size: 20px;
    
}

.mtm-modal-result {
    color: red;
    font-weight: bold;
    text-align: center;
}



